
  # uv pip install --python .venv-x64\Scripts\python.exe -r requirements.txt
 # uv pip install --python .venv-x64\Scripts\python.exe --index-url https://packagefeedproxy.microsoft.io/pypi/simple/ -r requirements.txt
 
 transformers
 torch
 torchvision
 datasets
 accelerate
 sentencepiece

 # install Langchain

 langchain
 langchain-community
 unstructured
 # access OpenAI LLMs such as GPT-4, GPT-3.5, etc.
 langchain-openai
 # access open source LLMs such as Mistral, Falcon, LLaMA, etc.
 langchain-groq
 # access LLM locally via ollama
langchain-ollama

# install streamlit 
streamlit

# vector database for Langchain
chromadb
huggingface-hub
sentence-transformers


# Langchain text splitter
langchain-text-splitters


python-dotenv
langchain-chroma
langchain-huggingface

# install groq sdk
groq


# Local Azure Foundry LLMs
#foundry-local-sdk-winml 
#openai

# Semantic router
semantic-router